@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins-Medium';
    src: url('/src/fonts/Poppins/Poppins-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/src/fonts/Poppins/Poppins-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Horizon';
    src: url('/src/fonts/Horizon-updated/Horizon-updated/NEW_UPDATED_VERSION/horizon.otf') format('opentype');
}



.emoji {
    font-size: 3.75rem;

}

body {
    background-color: rgb(255, 244, 187);
    ;
    font-size: 5vmin;
}

.nb {
    transition: all 0.5s ease-in-out;
}

.hideChildren>span {
    opacity: 0;
}

.ease {
    transition: all 0.5s ease-in-out;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.dial {
    position: absolute;
    width: 3.5vh;
    height: 3.5vh;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    --tw-bg-opacity: 1;
    background-color: rgb(227 121 81 / var(--tw-bg-opacity));
}

.multiNav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease-in-out;
}

.btnClass {
    border-radius: 9999px;
    transition: background-color 0.5s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease-in-out;
}

.btnClass:active {
    transform: scale(0.95);
}

.reward {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.inactive {
    opacity: 0.10;
    pointer-events: none;
    cursor: none;
}

.nb {
    animation: nb 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.nb2 {
    animation: nb2 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes nb {

    0%,
    100% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }
}

@keyframes nb2 {

    0%,
    100% {
        scale: 1;
    }

    50% {
        scale: 1.5;
    }
}

ol {
    list-style-type: decimal;
}

.clickable {
    touch-action: none;
    user-select: none;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f4ebec;
}

.marker {
    border: solid 0.5vh #3c6ca8;
    touch-action: none;
    user-select: none;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f4ebec;
    transition: transform 0.5s ease-in-out;
}

.btn {
    background-color: rgb(216, 132, 77);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.circle {
    border-radius: 50%;
    border: solid 1rem #e37951;
}

.clock {
    border: solid 2vh #e37951;
    border-radius: 50%;
    position: relative;
    align-self: center;
    display: inline-block;
}

.input-field {
    background-color: #f4ebec;
    text-align: center;
}