@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins-Medium';
    src: url('/src/fonts/Poppins/Poppins-Medium.ttf') format('truetype')
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('/src/fonts/Poppins/Poppins-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Horizon';
    src: url('/src/fonts/Horizon-updated/Horizon-updated/NEW_UPDATED_VERSION/horizon.otf') format('opentype');
}


.hand {
    height: 3.5vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field {
    background-color: #f4ebec;
    text-align: center;
}

.clock {
    border: solid 2vh #e37951;
    border-radius: 50%;
    position: relative;
    align-self: center;
    display: inline-block;
}

.dial {
    position: absolute;
    width: 3.5vh;
    height: 3.5vh;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    --tw-bg-opacity: 1;
    background-color: rgb(227 121 81 / var(--tw-bg-opacity));
}

.clickable {
    touch-action: none;
    user-select: none;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f4ebec;
}

.marker {
    border: solid 0.5vh #3c6ca8;
    touch-action: none;
    user-select: none;
    position: relative;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #f4ebec;
    transition: transform 0.5s ease-in-out;
}

.circle {
    border-radius: 50%;
    border: solid 1rem #e37951;
}

.btn {
    background-color: rgb(216, 132, 77);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
}

.disabled {
    background-color: red;
}

.enabled {
    background-color: green;
}

.btnClass {
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    padding: 2;
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

button {
    transition: background-color 0.5s ease-in-out, color 0.2s ease-in-out, opacity 0.5s ease-in-out;
}

input:focus {
    outline: solid 0.5rem #000000;
    animation: pulse 2s infinite;
    z-index: 4;
}

.highlight {
    outline: solid #000000;
    animation: pulse 2s infinite;
    z-index: 4;
}

.inactive {
    opacity: 0.5;

    pointer-events: none;
    cursor: none;
}

@keyframes pulse {
    0% {
        outline: solid 0.5rem #000000;
    }

    50% {
        outline: solid 0.7rem #000000;
    }

    100% {
        outline: solid 0.5rem #000000;
    }
}

.nb>* {
    animation: nb 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes nb {

    0%,
    100% {
        scale: 1;
    }


    50% {
        scale: 1.03;
    }
}